body{
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}
.timer-container{
    border: 5px solid gray;
    background-color: yellowgreen;
    margin-top: 40vh;
    border-radius: 2px;
}

h1{
    text-align: center;
    color: white;
    font-size: 120px;
    margin: 0;
}
@media(max-width:480px){
    h1{
        font-size: 80px;
    }
}
